#login-form {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    text-align: center;
    background-color: lightskyblue;
    padding:2%;
    font-size:22px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }

  