#menu {
    background-color: lightskyblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1em;
    border-radius: 1em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }
  
  #menu-links {
    display: flex;
    padding-left: 1em;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }
  
  #menu-links a {
    padding-right: 0.5em;
    color: darkblue;
    text-decoration: underline;
    cursor: pointer;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }
  